
*{
   	margin:1;
   	padding:10;
}
body{
	font-family: sans-serif;
	color: #333;
}
div.bin img{
	width: 35%;
	height: 250px;
}
body .a{
	width:100%;
	float:left;
	text-align: center;
	background-color: #cccccc;
	color:#191919;
}
body .b{
	width:100%;
	float:left;
	text-align: center;
	background-color: #ff4242;
	color:#ffffff;
}

